body > .container {
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
}

#filter-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#sort-selector > .filter-button {
  display: flex;
  justify-content: space-between;

  i {
    display: none;
    transition: transform 0.2s ease-in-out;
  }

  &.up > i {
    display: block;
    transform: rotate(180deg);
  }

  &.down > i {
    display: block;
  }
}

.filter-button-group {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .filter-button {
    color: var(--default-color);
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
    padding: 0.8rem 2rem;
    border-radius: 0.8rem;

    &:hover,
    &.active {
      background: var(--gradient);
      color: var(--white-color);
      box-shadow: var(--box-shadow-2);
    }

    .down {
      transform: rotate(180deg);
      transition-duration: 0.25s;
    }

    .hidden {
      display: none;
    }
  }
}

#search {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: center;

  #search-bar-wrapper {
    border: 1px solid var(--default-color);
    color: var(--default-color);
    border-radius: 4rem;
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    flex-grow: 1;
    max-width: 500px;

    #search-bar {
      position: relative;
      flex-grow: 1;
    }
  }
}

.icon-button {
  border-radius: 40px;
  padding: 10px;
  flex-shrink: 0;

  &:hover {
    cursor: pointer;
    background-color: var(--grey-color);
  }
}

#shop-products {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0 2rem 2rem;
}

#product-count {
  display: flex;
  align-items: center;
}

#bottom-page-nav {
  grid-column: 2 / -1;
}

.page-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .page-nav-pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    div {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;

      &.active {
        background-color: var(--grey-color);
      }
    }
  }
}

.product-card {
  padding: 1rem;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: 0.3s;

    .product-card-bottom {
      box-shadow: var(--box-shadow-2);
      background-color: var(--grey-color);
    }
  }

  .product-card-top {
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background: var(--gradient);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;

    img {
      border-radius: 1rem;
      max-height: 250px;
    }
  }

  .product-card-bottom {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: var(--box-shadow-1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;

    h4 {
      font-size: 1.8rem;
      width: 85%;
      margin-bottom: 1.5rem;
      grid-column: 1 / -1;
      -webkit-line-clamp: 3;
    }

    .price {
      color: var(--white-color);
      background-color: var(--primary-color);
      border-radius: 1rem;
      padding: 0.5rem 2rem;
    }

    .rating {
      display: flex;
      justify-content: right;
      gap: 5px;
    }
  }
}