<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>One-Stop-Shop</title>
    <style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
}

.layout {
    font-style: normal;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(103.39deg, #221875 21.49%, rgba(28, 17, 56, 0) 75.42%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 50em;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.row {
  background-color: rgba(255, 255, 255, 0.799);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2em 2em 0.5em;
  width: 90%;
  margin: 2em	auto;
  border-radius: 5px; }
  .row h1 {
    font-size: 2em;
    }
  .row .form-group {
    margin: 0.5em 0; }
    .row .form-group label {
      display: block;
      color: rgb(0, 0, 0);
      text-align: left;
      font-weight: 600; }
    .row .form-group input, .row .form-group button {
      display: block;
      padding: 0.5em 0;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 0.5em;
      background-color: inherit;
      border: 1px solid #555;
      border-bottom: 1px solid #555;
      color: rgb(150, 138, 138); }
      .row .form-group input:focus, .row .form-group button:focus {
        background-color: rgb(253, 253, 253);
        color: #000;
        border: 1px;
        padding: 1em 0.5em; animation: pulse 1s infinite ease;}
    .row .form-group button {
      border: 1px solid rgb(0, 0, 0);
      border-radius: 5px;
      outline: none;
      -moz-user-select: none;
      user-select: none;
      color: #333;
      font-weight: 800;
      cursor: pointer;
      margin-top: 2em;
      padding: 1em; }
      .row .form-group button:hover, .row .form-group button:focus {
        background-color: rgb(135, 198, 52); }
      .row .form-group button.is-loading::after {
        animation: spinner 500ms infinite linear;
        content: "";
        position: absolute;
        margin-left: 2em;
        border: 2px solid #000;
        border-radius: 100%;
        border-right-color: transparent;
        border-left-color: transparent;
        height: 1em;
        width: 4%; }
  .row .footer h5 {
    margin-top: 10em; }
  .row .footer p {
    margin-top: 2em; }
    .row .footer p .symbols {
      color: #444; }
  .row .footer a {
    color: inherit;
    text-decoration: none; }

.information-text {
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(0, 0, 0); 
}

@media screen and (max-width: 320px) {
.row {
    padding-left: 1em;
    padding-right: 1em; 
}
.row h1 {
      font-size: 1.5em !important; 
    } 
}
@media screen and (min-width: 900px) {
.row {
    width: 50%; 
    } 

.crl-alert {
    margin-top: 20px;
    margin-bottom: 20px;

    padding: 8px;
    border-left-width: 4px;
    border-left-style: solid;
    /*background: #fff;*/
    overflow-wrap: break-word;
    overflow: auto;
    display: flex;
    border-radius: 5px;
}

.crl-alert--success {
    display: none;
    background: #d1f2cb;
    border-left-color: #37a806;
}

.crl-icon--s {
    height: 16px;
    width: 16px;
}

.crl-icon--success {
    fill: #37a806;
}

.crl-icon {
    margin: auto;
}

}
</style>
<script src="/js/forgotPassword.js"></script>
</head>
<body>
    <div class="layout">
	<div class="row">
		<h1>Forgot Password</h1>
		<h6 class="information-text">Enter your registered email to reset your password.</h6>
		<div class="form-group">
            <div class="crl-alert crl-alert--success" id="success">
                <div>
                    <div class="crl-icon__container crl-alert__icon__container">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" class="crl-icon crl-icon-type--check-circle-filled crl-icon--s crl-icon--success crl-alert__icon">
                            <path fill-rule="evenodd" d="M0 12.453C0 5.575 5.575 0 12.453 0c6.877 0 12.453 5.575 12.453 12.453 0 6.877-5.576 12.453-12.453 12.453C5.575 24.906 0 19.33 0 12.453zm17.137-4.244c.52.347.661 1.05.314 1.57l-4.528 6.792c-.347.52-1.05.661-1.57.314l-3.396-2.264a1.132 1.132 0 0 1 1.256-1.884l2.454 1.636 3.9-5.85c.347-.52 1.05-.66 1.57-.314z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
                <div>
                    <div class="crl-alert__title">Reset request succeeded</div>
                    <div class="crl-alert__message">A reset link will be sent if a One-Stop-Shop account is found for this email address
                    </div>
                </div>
            </div>
            <p><label for="username">Email</label></p>
			<input type="email" name="user_email" id="user_email" placeholder="Email">
			<button onclick="sendResetEmail()">Send Reset Email</button>
		</div>
	</div>
    </div>
</body>