
<%- include('header.ejs') %>
<Html>
    <Body>
<H1 style="text-align:center"> Thanks for Submitting the Vender Registration Form </H1>
<H2 style="text-align:center"> We Will Get Back You shortly </H2>
</Body
</Html>
<%- include('footer.ejs') %>