.title-style {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    color: hsl(52, 0%, 98%);
}

.title-quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: hsl(52, 0%, 98%);
}

.vertical-scrollable>.row {
    position: absolute;
    top: 120px;
    bottom: 100px;
    left: 180px;
    width: 50%;
    overflow-y: scroll;
}

.invalid-card-number {
    font-size: 19px;
    visibility: hidden;
}

.card-already-exits {
    font-size: 19px;
    visibility: hidden;
}