.password-meter {
	width: 100%;
	padding: 3rem 1rem 2rem 20rem;
  }
  
  .password-meter__bar {
	width: 33.333%;
	height: 1rem;
	background: #eee;
	margin-bottom: 1rem;
	position: relative;
  }
  
  .password-meter__bar__inner {
	width: 0;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .password-meter__label {
	color: #666;
	font-size: 1.2rem;
  }
  
  .password-meter__label span {
	font-weight: bold;
  }